#Navbar {
  background: rgb(0, 0, 0);
  color: #fff;
  overflow: auto;
  padding: 12px 0;
}

#Navbar header {
  float: left;
  padding-left: 30px;
  padding-top: 15px;
  font-weight: bold;
  font-size: 140%;
}

#Navbar ul {
  float: right;
}

#Navbar ul li {
  float: left;
  padding-right: 30px;
  font-weight: bold;
  font-size: 140%;
}

#Navbar ul li a:hover,
#Navbar a:hover {
  cursor: pointer;
  color: lightslategray;
  font-size: large;
}
